<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2020 OpenSynergy Indonesia
     Copyright 2020 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
    <data>
        <menuitem
            name="Export xlsx"
            id="base_xlsx_template_root_menu"
            parent="base.menu_custom"/>
    </data>
</openerp>
