<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2026 OpenSynergy Indonesia
     Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="menu_user_group_section_root"
        name="User Group Section"
        parent="base.menu_custom"
    />
</odoo>
