<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="menu_frequency_root"
        name="Frequency"
        parent="base.menu_custom"
    />
</odoo>
